build
*.zip
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode*
*.xcodeproj/*.perspective*
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcworkspace/xcuserdata
SIP/opt*
SIP/pjproject
SIP/pjproject-*
FFmpeg/opt*
FFmpeg/ffmpeg
FFmpeg/ffmpeg-*
VoiceMac/*
Screenshots/*